.cardContent__textButton {
  max-width: max-content;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.5em 1.5em;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #ebeced;
  font-family: "Unbounded";
  font-weight: 700;
  font-size: 1rem;
  color: #4b6a7a;
}
