.swipeCardContainer {
  width: 26.7vw;
  background-color: rgba(29, 36, 40, 0.5);
  border-radius: 60px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 200px;
  /* margin-top: 90px;
  margin-bottom: 160px; */
}

.cardContainer {
  width: 22vw;
  background-color: rgba(29, 36, 40, 0.5);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 980px;
  /* margin-top: 90px; */
  margin-bottom: 30px;
}
