.book {
    display: flex;
    align-items: center;
    max-width: 600px;
    padding: 1rem;
    background-color: #ebeced;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    user-select: none;
    line-height: 100%;
}

.book:hover,
.book:focus {
    background-color: #d1e0f5;
    color: #1f2a44;
}

.cover {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 4px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #1f2a44;
    text-align: left;
    text-transform: none;
    margin: 0 0 0.5rem;
}

.description {
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #666;
    text-align: left;
    text-transform: none;
    margin: 0;
}

.deleteButton {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-start; /* Ограничиваем ширину кнопки */
    margin-top: 0.5rem; /* Добавляем отступ сверху */
}

.deleteButton:hover {
    background-color: #e63939;
    transform: translateY(-2px);
}

.deleteButton:active {
    transform: translateY(0);
}

.deleteButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.3);
}

.updateButton {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4d79ff; /* Changed color to a blue shade to differentiate from delete */
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.updateButton:hover {
    background-color: #3963e6; /* Darker blue for hover */
    transform: translateY(-2px);
}

.updateButton:active {
    transform: translateY(0);
}

.updateButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(77, 121, 255, 0.3); /* Matching blue focus ring */
}