.imageButton {
    transition: filter step-end;
    cursor: pointer;
    user-select: none;
}

.imageButton:hover {
    filter: brightness(0) saturate(100%) invert(61%) sepia(12%) saturate(921%) hue-rotate(166deg) brightness(94%) contrast(88%);
}